@import '../colors';
@import '../fonts';

$information-all-but-phone: "(min-width: 768px)";

@media #{$information-all-but-phone} {
	#header {
		position: relative;
		z-index: 1000;
	}

	.dropdown-menu {
		padding: 0;

		li a {
			padding: 10px 15px;
			font-size: 13pt;
			font-family: $mono-font-stack;

			&:hover {
				color: $orange-color;
			}
		}
	}

	.navbar {
		.container {
			position: relative;
		}

		> .container-fluid .navbar-brand,
		> .container .navbar-brand {
			margin-left: -5px;
		}

		.nav-flatusual & {
			margin: 20px 0;

			#branding .navbar-brand {
				height: auto;
				padding: 15px;

				img {
					height: 18px;
				}
			}

			#navbar {
				> .navbar-form.navbar-right,
				> .nav.navbar-nav {
					padding: 0 5px;
				}

				&::after {
					content: "";
					background: url("../images/golden-ribbon.svg") no-repeat center center;
					display: block;
					width: 17px;
					height: 32px;
					position: absolute;
					top: -10px;
					right: 0;
					z-index: 1001;
				}
			}

			& {
				background-color: $gallery-color;
				border: 0 solid #2a2a2a;
				border-radius: 0;
				border-top: 10px solid #2a2a2a;
				box-shadow: 0 5px 0 0 rgba($white-color, .5);
				margin: 0;

				.navbar-nav {
					> li > a {
						color: $mine-shaft-color;
						font-family: $mono-font-stack;
						font-size: 15pt;
						font-weight: normal;
						letter-spacing: -2px;
						padding: 15px;
						text-shadow: 0 1px 0 $white-color;
						text-transform: uppercase;

						&:hover {
							background-color: transparent;
							color: $orange-color;
						}
					}

					> .open,
					> .active {
						> a:focus,
						> a:hover,
						> a {
							background-color: transparent;
							color: $orange-color;
						}
					}
				}
			}

			.navbar-collapse {
				> .navbar-form.navbar-right,
				> .nav.navbar-nav {
					padding-right: 5px;
					padding-left: 5px;
				}
			}
		}
	}

	#main .force-hide {
		display: none !important;
	}
	//** Blog Listing
	.inside-content .blog-item-wrap {
		&:first-child {
			width: 100%;

			.blog-item > header {
				padding: 20px 35px;

				.blog-title {
					font-size: 20pt;
					height: auto;
					margin: 0;
				}
			}

			.blog-item-body > p {
				font-size: 12pt;
				height: auto;
			}
		}
	}
}
