@import '../colors';
@import '../fonts';

$information-phone: "(max-width: 767px)";

@media #{$information-phone} {
	.navbar-brand {
		float: left;
		font-size: 18px;
		height: 57px;
		padding: 0;

		> img {
			height: 15px;
			margin-left: 10px;
		}
	}

	.navbar-toggle {
		background-color: transparent;
		background-image: none;
		border: medium none;
		border-radius: 40px;
		color: $orange-color;
		float: right;
		font-size: 28px;
		height: 42px;
		margin-bottom: 8px;
		margin-right: 10px;
		margin-top: 7px;
		padding: 0 3px;
		position: relative;
		width: 42px;

		.navbar-default & .icon-bar {
			background-color: $orange-color;
			height: 3px;
			margin: 3px auto 4px;
		}
	}

	nav.navbar {
		margin: 0;
	}

	#main {
		min-height: auto;
		padding: 0;
	}

	#branding a {
		height: 57px;
		padding: 19px 5px 23px;
	}


	.nav-flatusual {
		nav.navbar {
			.navbar-nav {
				> li > a {
					color: $mine-shaft-color;
					font-family: $mono-font-stack;
					font-size: 14pt;
					font-weight: normal;
					letter-spacing: 0;
					padding: 7px 15px;
					text-shadow: 0 1px 0 $white-color;
					text-transform: uppercase;
					&:hover {
						background-color: $gallery-color;
						color: $orange-color;
					}
				}
				.active > a {
					&:focus, &:hover {
						background-color: $orange-color;
						color: $gallery-color;
						text-shadow: 0 1px 0 $mine-shaft-color;
					}
				}
				.open > a {
					&:focus, &:hover {
						background-color: $gallery-color;
						color: $orange-color;
					}
				}
			}
		}
	}

	.dropdown-menu li a {
		padding: 15px;
		font-size: 13pt;
		font-family: $mono-font-stack;
	}

	.flat-bullets {
		display: none;
	}

	.jumbotron p {
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 15px;

		.btn {
			margin: 0 0 10px;
		}
	}

	//** About Section
	.bio {
		.cmd-line {
			font-size: 10.5pt;
			line-height: 1.4;
			padding: 25px 30px;
			letter-spacing: -1px;
		}

		footer {
			height: auto;

			.social-wrap {
				position: static;
				text-align: center;
			}

			.btn {
				display: block;
				margin: 20px auto 0;
				position: static;
				width: 160px;
			}
		}
	}

	.portrait-wrap {
		margin: -100px auto 35px;
		max-width: 190px;
		position: relative;
		top: 0;
	}

	.textfield {
		.btn {
			display: block;
			margin: 10px 0 5px;
			position: relative;
			right: 0;
			top: 0;
		}

		.bio & {
			height: auto;

			.btn & {
				margin: 3px 0;
			}
		}
	}

	//** Containers
	.sec-header {
		margin: 0 0 20px;
	}

	.sec-footer {
		background: rgba($black-color, 0) none repeat scroll 0 0;
		border-radius: 2px;
		font-size: 10pt;
		margin: 0 0 20px;
		padding: 0 5px 10px;
		position: static;
		right: 0;
		text-align: left;
		text-transform: uppercase;
	}

	.bg-highlighted {
		margin: 45px 0 -48px;
		padding: 5px 0 60px;

		.sec-header {
			margin-bottom: 0;
		}
	}

	.bg-lighter {
		margin: 25px 0 5px;
		padding: 35px 0 50px;

		.sec-header {
			margin-bottom: 0;
		}
	}

	//** Blog Section
	.blog-item > header {
		padding: 25px 25px 20px;

		.blog-title {
			font-size: 13pt;
			height: auto;
			letter-spacing: 0;
			line-height: 1.3;
			margin: 0 0 10px;
		}
	}

	.blog-item-tags {
		padding: 10px 25px;

		.tag-list li {
			margin: 0 1px;

			a {
				color: $mine-shaft-color;
			}
		}
	}

	.blog-item-body {
		padding: 15px 25px 25px;

		> p {
			font-size: 10pt;
			height: auto;
			margin: 0 0 17px;
			max-height: none;
		}
	}

	li.blog-item-wrap {
		display: block;
		padding: 5px 15px 15px;
	}
	//** Projects Section
	#projects-sec .sec-footer {
		text-align: center;
	}

	.proj-thumb {
		display: none;
	}

	.home-project-list {
		text-align: center;

		li {
			margin: 0 10px 10px;
			display: block;

			.proj-desc {
				height: auto;
			}
			.blocklink {
				background-color: $white-color;
				display: block;
				height: 100%;
				left: 0;
				margin: 0 5px;
				opacity: 0.0;
				position: absolute;
				top: 0;
				width: calc(100% - 10px);

				&:hover {
					background-color: $white-color;
					opacity: 0.3;
				}
			}
		}
	}

	.thumbnail {
		margin: 0;
		max-width: 100%;
		width: 100%;

		.caption {
			float: left;
			width: 100%;

			.proj-date {
				margin: 0 0 5px;
			}

			footer {
				display: none;
			}
		}

		.thumbnails-hfixed & .caption {
			h2 {
				font-size: 13.5pt;
				height: 21px;
				margin: 0 0 5px;
			}

			p {
				height: 54px;
				line-height: 1.5;
				margin: 0;
			}
		}
	}

	//** Courses Section
	#course-sec {
		article {
			padding: 0 30px;

			p .btn {
				margin: 0 0 10px;
			}
		}

		.sec-footer {
			padding: 0 17px;
		}
	}

	.course-title {
		color: $alto-color;
		font-size: 34pt;
		font-weight: 800;
		letter-spacing: -3px;
		line-height: 0.9;
		margin: 10px 0 7px;
		text-shadow: 0 -1px 0 $white-color;
	}

	.course-subtitle {
		font-size: 11pt;
	}

	.course-desc {
		font-size: 9pt;
		margin: 0 0 15px;
	}

	.course-tags {
		margin: 15px 0 5px;
		overflow: hidden;
		text-overflow: unset;
		white-space: unset;
		width: 100%;

		.tag-list {
			margin: 0 0 5px;
			overflow: hidden;
			text-overflow: unset;
			white-space: unset;
			width: 100%;

			> li {
				margin: 0 1px 3px;
			}
		}
	}

	.course-emblem {
		margin: 0;
		max-width: 240px;
		width: 100%;
	}

	//** Footer
	#footer {
		position: static;
	}

	.footer-body {
		height: auto;
		padding: 60px 0 55px;
		text-align: center;

		.footer-nav {
			margin: 0 0 15px;

			li {
				font-size: 10pt;
				letter-spacing: 0;
				margin: 0 5px;
			}
		}

		p {
			color: $boulder-color;
			line-height: 1.4;
		}
	}

	.social-wrap {
		ul {
			float: none;
			margin: 35px 0 -5px;
		}

		li a {
			display: inline-block;
			margin: 0 5px;
			text-align: center;
		}
	}

	.footer-copy p {
		font-size: 9pt;
		letter-spacing: 0;
		margin: 0 0 2px;
		line-height: 1.2;
	}

	//** Inside Content
	.inside-content .container {
		margin: 0 auto 10px;
	}

	.inside-header {
		.content-title {
			font-size: 28pt;
			font-weight: 700;
			letter-spacing: -1px;
			line-height: 1;
			margin: 0 0 13px;
		}

		.content-subtitle {
			font-size: 11pt;
			letter-spacing: 0;
		}
	}

	.breadcrumb > li + li::before {
		padding: 0 1px;
	}

	.thb-wrap {
		margin-bottom: 0;
		margin-right: 25px;
	}

	.topic-free-code {
		display: inline;

		address,
		dl,
		dt,
		li,
		ol,
		p,
		ul {
			font-family: $open-sans-font-stack;
			font-size: 10pt;
			line-height: 1.5;
		}

		h2 {
			font-size: 18pt;
			letter-spacing: -2px;
		}

		h3 {
			color: $flamingo-color;
			font-size: 14pt;
			letter-spacing: 0;
		}
	}

	.about {
		h1 {
			font-size: 25pt;
		}
		p {
			font-size: 12pt;
		}
	}

	.topic-content > div {
		padding: 30px calc(5% + 20px);
	}

	.thb-link {
		font-size: 8pt;
		padding: 0 3px;
	}

	//** Inside Content
	.inside-content {
		.thumbnails-hfixed li {
			padding: 0 15px 10px;
			display: block;
		}

		.thumbnail {
			margin: 0 auto;

			.proj-blocklink {
				display: block;
			}
		}

		li.blog-item-wrap {
			margin: 0 0 5px;
			padding: 5px 15px 15px;
		}
	}

	.thumbnail:hover .proj-thumb {
		background-size: cover;
	}

	form.cmd-line {
		margin: 0;
		padding: 20px 20px 25px;
		width: 100%;

		.form-group:last-child {
			text-align: center;
		}

		.btn[type="submit"] {
			bottom: -10px;
			position: relative;
			right: auto;

			&:active {
				bottom: -11px;
			}
		}
	}

	.courses-light {
		.course-item {
			border-radius: 4px;
			margin: 0 0 25px;
			padding: 0 20px 10px;
		}

		.course-title {
			background-color: $blumine-color;
			border-radius: 2px;
			color: $gallery-color;
			font-size: 20pt;
			font-weight: 700;
			height: auto;
			letter-spacing: -1px;
			margin: 20px -25px 10px;
			overflow: visible;
			padding: 11px 25px;
			text-overflow: unset;
			white-space: normal;
			width: calc(100% + 35px);
		}

		.course-subtitle {
			color: $emperor-color;
			overflow: visible;
			text-overflow: unset;
			white-space: normal;
		}

		.course-desc {
			max-height: none;
		}
	}

	.quote-listing {
		> li {
			padding: 20px 10px;

			> a {
				height: 185px;
			}
		}

		.quote-item {
			header {
				font-size: 10pt;
				letter-spacing: 1px;
				padding: 11px 9px 9px;
			}

			blockquote {
				padding: 30px 45px;

				> span {
					font-size: 14pt;
					letter-spacing: 0;
					line-height: 1.4;
				}
			}
		}
	}

	.trl {
		margin: -20px -15px -10px;

		li.trl-item {
			background: transparent;
			border-top: 1px solid $white-color;
			box-shadow: 0 -1px 0 rgba($black-color, .15);
			padding: 10px 20px;

			&:first-child {
				border-top: none;
				box-shadow: none;
			}

			&:last-child {
				border-bottom: 1px solid rgba($black-color, .15);
				box-shadow: 0 -1px 0 rgba($black-color, .15), 0 1px 0 $white-color;
			}

			.trl-item-img {
				display: none;
			}

			.trl-item-title {
				font-size: 12pt;
				letter-spacing: 0;
				line-height: 1.3;
				margin: 1px 0 4px;
				text-indent: -2px;
				font-family: $arial-font-family;
				font-weight: normal;
			}
		}
	}

	.social-wrap {
		ul.social-share {
			float: none;
			margin: -20px 0 0;

			li .social-button {
				margin: 0 2px;
			}
		}
	}
}
