@import '../colors';
@import '../fonts';

$information-small-phone: "screen and (max-width: 469px)";

@media #{$information-small-phone} {
	.thb-wrap {
		float: none;
		margin: 0 auto 20px;
		max-width: 300px;
		width: 100%;
	}

	.topic-meta {
		.topic-date {
			text-align: left;
			float: none;
		}

		.social-wrap {
			margin: -22px 0 0;
		}
	}

	.social-share {
		> li .social-button {
			color: $white-color;
			font-size: 8pt;
			height: 24px;
			margin: 0 2px;
			padding: 3px;
			width: 25px;
		}
		ul & {
			top: 8px;
		}
	}

	.topic-rating {
		margin: 8px 0 2px;
	}
}
