@import '../colors';
@import '../fonts';

$information-tablet: "(min-width: 768px) and (max-width: 991px)";

@media #{$information-tablet} {
	.nav-flatusual {
		nav.navbar {
			.navbar-header {
				width: 150px;
			}

			.navbar-nav {
				#navbar & {
					margin-right: 10px;
					padding: 20px 0;

					> li > a {
						font-size: 12pt;
						letter-spacing: 0;
						line-height: 1.1;
						padding: 0 15px;
						margin-top: 18px;
					}
				}
			}
		}

		#branding .navbar-brand {
			height: auto;
			padding: 16px;

			> img {
				width: 100%;
			}
		}
	}

	#slider {
		height: 300px;
	}

	.slide-item {
		height: 300px;

		&.container {
			height: 100%;
			position: relative;
		}
	}

	.slide-text {
		height: 195px;
		top: 20%;

		h2 {
			font-size: 40pt;
			letter-spacing: -2px;
		}

		p {
			font-size: 16pt;
		}
	}

	.slick-next,
	.slick-prev {
		position: absolute;
		z-index: 10000;
		height: 60px;
		width: 60px;

		&:before {
			color: $white-color;
			font-family: $slick-font-stack;
			font-size: 60px;
			line-height: 1;
			opacity: 0.15;
			height: 60px;
			width: 60px;
		}
	}

	.slick-next {
		right: 15px;
	}

	.slick-prev {
		left: 15px;
	}

	.slick-dots {
		bottom: 30px;

		li button::before {
			color: $white-color;
			font-size: 10px;
			opacity: 0.4;
		}
	}

	.slick-dots li button::before {
		color: $black-color !important;
	}

	.slick-dots li.slick-active button::before {
		color: $gray-color !important;
	}

	.flat-bullets {
		margin-bottom: 50px;

		.slick-dots li {
			height: 8px;
			margin: 5px;
			width: auto;
		}

		.slick-dots li {
			button {
				background-color: $gallery-color;
				background-image: none;
				border-radius: 0;
				height: 8px;
				width: 40px;
				padding: 0;
			}

			&.slick-active button {
				background-color: $flamingo-color;
				opacity: 1;

				&:before {
					display: none;
				}
			}
		}
	}


	/*

	.slide-text {
		height: 195px;
		top: 20%;
		left: 6%;

		h2 {
			font-size: 40pt;
			letter-spacing: -2px;
		}

		p {
			font-size: 11pt;
		}
	}

	.slick-dots {
		bottom: 10px;
	}

	.slick-next {
		right: 10px;
	}

	.slick-prev {
		left: 10px;
	}

	*/

	.person {
		top: 20px;
	}

	.textfield {
		font-size: 10pt;
	}

	.course-title {
		font-size: 26pt;
		letter-spacing: -1px;
		margin: 0 0 7px;
	}

	.course-subtitle {
		font-size: 14pt;
	}

	.course-desc {
		font-size: 9pt;
		margin: 0 0 17px;
	}

	#footer {
		#footer-nav {
			margin-bottom: 20px;
			width: 100%;
			text-align: center;
		}

		.row .col-sm-12:last-child {
			text-align: center;
			margin: 10px 0 0;
			border-top: $emperor-color dashed 1px;
			padding-top: 25px;
		}

		> li li {
			text-align: center;
		}
	}

	.footer-body {
		.footer-nav li {
			color: $gray-color;
			font-family: $mono-font-stack;
			font-size: 11pt;
			letter-spacing: 0;
			margin-right: 17px;
			text-transform: uppercase;
		}

		p {
			color: $gray-color;
			font-size: 11px;
			line-height: 1.8;
		}
	}

	//** Projects Section
	#projects-sec {
		.sec-footer {
			text-align: center;
		}
		.sec-body {
			padding-right: 20px;
		}
	}

	.home-project-list {
		text-align: center;
		li {
			margin: 0 10px 10px;
			display: block;

			.blocklink {
				background-color: $white-color;
				height: 100%;
				left: 0;
				margin: 0 5px;
				opacity: 0.0;
				position: absolute;
				top: 0;
				width: calc(100% - 10px);

				&:hover {
					background-color: $white-color;
					opacity: 0.3;
				}
			}
		}
	}

	.thumbnail {
		margin: 0;
		max-width: 100%;
		width: 100%;

		&:hover .proj-thumb {
			background-size: auto 110%;
		}

		.proj-thumb {
			float: left;
			height: 150px;
			width: 25%;
			background-size: cover;
		}

		&:hover .proj-thumb {
			background-size: cover;
		}

		.caption {
			float: left;
			width: 75%;

			footer {
				display: none;
			}

			.proj-date {
				margin: 0 0 5px;
			}
		}
	}

	.thumbnail {
		.thumbnails-hfixed & .caption {
			h2 {
				font-size: 15.5pt;
				height: 21px;
				margin: 0 0 5px;
			}

			p {
				height: 54px;
				line-height: 1.5;
				margin: 0;
			}
		}
	}

	//** Inside Content
	.inside-content .thumbnail {
		margin: 0 auto 10px;
	}

	.courses-light {
		.course-title {
			font-size: 24pt;
			height: 37px;
			margin: 22px 0 0;
		}

		.course-desc {
			max-height: 32px;
		}

		.course-tags {
			margin: 10px 0 5px;
		}
	}

	.book-listing li > a {
		height: 225px;
	}

	.trl {
		margin: -33px -25px 0;
	}
}
