$orange-color: #ff5b28;
$trinidad-color: #ea3700;
$tia-maria-color: #c04213;
$fire-color: #a72800;

$twine-color: #c09e62;
$flamingo-color: #e9541d;
$eden-color: #0f6364;

$mobster-color: #7c6f86;
$mulled-wine-color: #4c4056;
$thunderbird-color: #bd3620;

$blumine-color: #1c5a73;
$light-nile-blue-color: #184557;
$nile-blue-color: #183847;
$dark-nile-blue-color: #1a2b33;
$baltic-sea-color: #322d36;

$white-color: #fff;
$gallery-color: #eee;
$alto-color: #ddd;
$silver-color: #bbb;
$silver-chalice-color: #aaa;
$gray-color: #888;
$boulder-color: #777;
$emperor-color: #555;
$mine-shaft-color: #333;
$cod-gray-color: #171314;
$light-thunder-color: #282627;
$thunder-color: #1d1b1c;
$black-color: #000;

$botticelli-color: #c4d9e2;
