@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

$mono-font-stack: "Share Tech Mono", monospace;
$arial-font-family: Arial, Helvetica, sans-serif;
$open-sans-font-stack: "Open Sans", Arial, Helvetica, sans-serif;
$tahoma-font-stack: Tahoma, Geneva, sans-serif;

$slick-font-stack: "slick";
