/*--------------------------------------------------------------
>>> BRANDING COLOR CODES:
----------------------------------------------------------------
Primary   #e9541d
Lighter   #ff5b28
Darker	  #c04213

Falvors:
Golden    #c19f62
Red       #bd3620
Violet    #4c4056
Turquoise #0f6364
Bluish    #184557

--------------------------------------------------------------*/

@charset "utf-8";
/* CSS Document */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600,700,800);
/* font-family: "Open Sans",Arial,Helvetica,sans-serif; */

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
/* font-family: 'Share Tech Mono', monospace; */

*:focus {
	outline: none !important;
	text-decoration:none !important;
}
html, body {
	height: 100%;
}
* html #main {
	height: 100%;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.4;

  font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern=1", "liga=1";
  -ms-font-feature-settings: "kern", "liga";
  -o-font-feature-settings: "kern", "liga";
  -webkit-font-feature-settings: "kern", "liga";

  text-rendering: OptimizeLegibility;
}
body {
	background-color: #1f1d1e;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	background-position: center top;
	margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #ff5b28;
	text-decoration: none;
}
a:hover, a:focus, .selected {
	color: #f95826;
	text-decoration: underline;
}
a img{
	border: none 0px #FFF;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  margin: 0 0 20px;
}
h1, h2 { letter-spacing: -2px; }
h3, h4 { letter-spacing: -1px; margin: 0 0 14px;}
h5, h6 { letter-spacing: 0; margin: 0 0 13px;}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td {
  border-top: 0 none;
}
table > thead > tr > th {
  border-bottom: 2px solid #ddd;
  vertical-align: bottom;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #ddd;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}
img {
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}
/*=============================== Transitions ===============================*/

.transit, .transit-all, .transit-all * 						{ transition: all 0.25s ease-in-out; }
.transit-quick, .transit-quick-all, .transit-quick-all * 	{ transition: all 0.10s ease-in-out; }
.transit-slow, .transit-slow-all, .transit-slow-all * 		{ transition: all 0.50s ease-in-out; }
.transit-zero, .transit-zero-all, .transit-zero-all * 		{ transition-duration: 0.0s; }
.transit-delay, .transit-delay-all, .transit-delay-all * 	{ transition-delay: 0.35s; }
.transit-delayslow, .transit-delayslow-all, .transit-delayslow-all * { transition-delay: 0.75s; }

/*=============================== More CSS3 ===============================*/

.mild-shadow {	box-shadow: 0 2px 3px rgba(0,0,0,0.15); }
.large-shadow {	box-shadow: 0 3px 6px rgba(0,0,0,0.25); }
.edge-shadow {	box-shadow: 0 1px 0 rgba(255,255,255,0.75); }
.no-shadow {	box-shadow: none !important; }

.selective-opacity 						{	opacity: 1.0; }
.selective-opacity:hover > *			{	opacity: 0.75; }
.selective-opacity:hover > *:hover 		{	opacity: 1.0; }

.selective-opacity-tab					{	opacity: 1.0; }
.selective-opacity-tab:hover td			{	opacity: 0.75; }
.selective-opacity-tab:hover td:hover 	{	opacity: 1.0; }


/*=============================== Basics ===============================*/
/* Place Holder Coloring */
*::-webkit-input-placeholder { color: #777 !important; }
          *:-moz-placeholder { color: #777 !important; opacity: 1; }
         *::-moz-placeholder { color: #777 !important; opacity: 1; }
     *:-ms-input-placeholder { color: #777 !important; }
#main {
  min-height: 100vh;
  overflow: hidden;
  padding: 0 0 275px;
  position: relative;
}
.container-wrap {
  padding: 25px 0;
}
.container-wrap-dark {
  padding: 50px 0 35px;
  background-color: #333;
}
.container-wrap-dark h1, .container-wrap-dark h2 {
  color: #eee;
}
.container-wrap-dark p {
  color: rgba(255,255,255,0.5);
}
.inline-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.inline-list li {
	display: inline;
}
.text-note {
  color: #aaa !important;
}
.text-note-small {
  color: #aaa !important;
  font-size: 10pt !important;
  line-height: 16px !important;
}
.text-ellipsis {
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.text-center {
  text-align: center !important;
}
select option {
	padding:5px;
}
#branding {
    margin: 0;
    padding: 0;
}
#branding a {
    display: block;
}
.tooltip {
  text-indent: 0px;
}
.popover.right, .popover.left {
 top: 3px !important;
}
.popover-title {
  letter-spacing: 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}
.flag {
  opacity: 0.8;
}
.jumbotron {
  /*background: #f3f3f3 url("../images/bg-signup.png") no-repeat scroll right center ;*/
}
.page-header {
  border-bottom: 2px solid #000;
  box-shadow: 0 1px 0 0 #3c3c3c;
  margin: 40px 0 20px;
  padding-bottom: 9px;
}
.page-header h1, .page-header h2, .page-header h3,
.page-header h4, .page-header h5, .page-header h6 {
  color: #bbb;
}
.well {
  background-color: #fff;
  padding: 18px 26px;
}
hr {
  border: 1px solid #3c3c3c;
  border-top: 2px solid #000;
}
.form-control {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  height: 38px;
  letter-spacing: -1px;
  padding: 6px 13px;
}
/*=============================== Buttons ===============================*/
.btn {
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.4) inset;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0;
  padding: 10px 30px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  text-align:center;
  margin: 0 0 2px;
}
.btn-wide {
  min-width: 155px;
  padding: 10px 17px 11px;
}
.btn:active, .btn:active:focus,
.btn:active, .btn:active:hover {
  top:2px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
.btn.btn-lg {
  font-size: 13pt;
  font-weight: 300;
  letter-spacing: 0;
}
.btn-black{color:#fff;background-color:#3c3c3c;border-color:#333}.btn-black.focus,.btn-black:focus{color:#fff;background-color:#222;border-color:#000}.btn-black:hover{color:#fff;background-color:#222;border-color:#111}.btn-black.active,.btn-black:active,.open>.dropdown-toggle.btn-black{color:#fff;background-color:#222;border-color:#111}.btn-black.active.focus,.btn-black.active:focus,.btn-black.active:hover,.btn-black:active.focus,.btn-black:active:focus,.btn-black:active:hover,.open>.dropdown-toggle.btn-black.focus,.open>.dropdown-toggle.btn-black:focus,.open>.dropdown-toggle.btn-black:hover{color:#fff;background-color:#111;border-color:#000}.btn-black.active,.btn-black:active,.open>.dropdown-toggle.btn-black{background-image:none}.btn-black.disabled.focus,.btn-black.disabled:focus,.btn-black.disabled:hover,.btn-black[disabled].focus,.btn-black[disabled]:focus,.btn-black[disabled]:hover,fieldset[disabled] .btn-black.focus,fieldset[disabled] .btn-black:focus,fieldset[disabled] .btn-black:hover{background-color:#3c3c3c;border-color:#333}.btn-black .badge{color:#3c3c3c;background-color:#fff}

.btn.btn-default {
  background-color: transparent;
  border: 2px solid #ff5b28;
  border-radius: 4px;
  box-shadow: none;
  color: #ff5b28;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: -1px;
  min-width: auto;
  padding: 9px 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  transition: all 0.25s ease-in-out 0s;
}
.btn.btn-default:hover, .btn.btn-default:focus {
  border-color: #ff5b28;
  color: #ff5b28;
  background-color: rgba(255,255,255,0.15);
}
.btn.btn-default:active, .btn.btn-default:active:focus,
.btn.btn-default:active, .btn.btn-default:active:hover {
  top:1px;
  border-color: #ff5b28;
  border-bottom: 2px solid #ff5b28;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
  box-shadow: none !important;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #ea3700;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  border-color: #a72800;
  color: #a72800;
}
/*=============================== Slider ===============================*/
#slider {
  background-color: #183847;
  height: 628px;
  margin: 0 0 60px;
  position: relative;
}
.slide-item {
  background: none no-repeat scroll center center;
  height: 628px;
  background-size: cover;
}
.slide-item .container {
  height: 100%;
  position: relative;
}
.slide-text {
  box-sizing: content-box;
  height: 250px;
  margin-bottom: -125px;
  padding: 0 50px;
  position: absolute;
  top: 30%;
}
.slide-text h2 {
  color: #ddd;
  font-size: 54pt;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 0.9;
  margin: 0 0 7px;
  text-shadow: 0 -1px 0 #fff, 0 3px 6px rgba(0,0,0,0.2);
}
.slide-text p {
  color: #ddd;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 16pt;
  margin: 0 0 20px;
  text-shadow: 0 0 10px #000;
}
.slick-prev, .slick-next {
  position: absolute;
  z-index: 10000;
  height: 60px;
  width: 60px;
}
.slick-prev::before, .slick-next::before {
  color: white;
  font-family: "slick";
  font-size: 60px;
  line-height: 1;
  opacity: 0.15;
  height: 60px;
  width: 60px;
}
.slick-next {  right: 15px; }
.slick-prev {  left: 15px; }

/*============ Flat Bullets ============*/
.slick-dots {
  bottom: 30px;
}
.slick-dots li button::before {
  color: white;
  font-size: 10px;
  opacity: 0.4;
}
.slick-dots li button::before {
  color: black !important;
}
.slick-dots li.slick-active button::before {
  color: #888 !important;
}
.flat-bullets .slick-dots li {
  height: 8px;
  margin: 5px;
  width: auto;
}
.flat-bullets {
	margin-bottom: 50px;
}
.flat-bullets .slick-dots li button {
  background-color: #eee;
  background-image: none;
  border-radius: 0;
  height: 8px;
  width: 40px;
  padding: 0;
}
.flat-bullets .slick-dots li.slick-active button {
  background-color: #e9541d;
  opacity: 1;
}
.flat-bullets .slick-dots li button::before {
	display:none;
}
/*=============================== Thumbnail Boxes =========================*/
.thumbnail {
  border: medium none;
  border-radius: 3px;
  overflow: hidden;

  margin: 0 auto 30px;
  max-width: calc(100% - 20px);
  padding: 0;
  position: relative;
  text-align: left;
}
.home-project-list li:nth-last-child(1) .thumbnail,
.home-project-list li:nth-last-child(2) .thumbnail,
.home-project-list li:nth-last-child(3) .thumbnail {
  margin: 0 auto;
}

.proj-thumb {
  background: rgba(0, 0, 0, 0) none no-repeat scroll center 25%;
  height: 161px;
  padding-top: 1px;
  background-size: 150% auto;
}
.proj-thumb-tint {
  background-color: #1a2b33;
  height: 100%;
  opacity: 0.5;
  width: 100%;
}
.thumbnail:hover .proj-thumb {
  background-size: 100% auto;
}
.thumbnail:hover .proj-thumb .proj-thumb-tint {
  opacity: 0.2;
}
.thumbnail .caption {
  background-color: #ebebeb;
  padding: 25px 22px;
}
.thumbnail .caption .proj-title {
  color: #f95826;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15pt;
  letter-spacing: 0;
  margin: 0;
  text-indent: -1px;
  text-transform: uppercase;
  font-weight:normal;
}
.thumbnail .caption .proj-date {
  color: #888;
  display: block;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 8pt;
  letter-spacing: 1px;
  margin: 0 0 8px;
}
.thumbnail .caption .proj-desc {
  color: #555;
  font-size: 9pt;
  line-height: 1.6;
  margin: 0 0 15px;
}
.thumbnail .caption footer {
  text-align: center;
}
.thumbnails-hfixed .thumbnail .caption h2 {
  height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.thumbnails-hfixed .thumbnail .caption p {
  height: 55px;
  overflow: hidden;
}
.thumbnail .proj-blocklink {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
/*=========================== About Section =======================*/
.cmd-line {
  background-color: #171314;
  border: medium none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7) inset, -1px -1px 1px rgba(255, 255, 255, 0.2) inset;
  color: #bbb;
  font-family: 'Share Tech Mono', monospace;
  font-size: 11pt;
  padding: 40px 55px;
}
.textfield {
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7) inset, -1px -1px 1px rgba(255, 255, 255, 0.2) inset;
  color: #777;
  font-family: 'Share Tech Mono', monospace;
  font-size: 11pt;
  padding: 10px 15px;
  position: relative;
}
.portrait-wrap {
  border-radius: 150px;
  border: 6px solid #c09e62;
  margin: -114px auto -20px;
  max-width: 190px;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}
.portrait-wrap img {
  width: 100%;
}
.person h1 {
  color: #ddd;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 29pt;
  font-weight: 700;
  letter-spacing: -3px;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 0 #fff;
  top: 150px;
  z-index: 10;
}
.person p {
  color: #f95826;
  font-family: 'Share Tech Mono', monospace;
  font-size: 12pt;
  letter-spacing: 2px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 124px;
  z-index: 10;
}

.bio footer {
  height: 40px;
  position: relative;
}
.bio footer .btn {
  position: absolute;
  right: 0;
  top: 0;
}
.bio footer .social-wrap {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
}
.bio footer .social-wrap ul {
  margin: 0;
}

.flashing {
    animation: 1s ease 0s normal none infinite running flashing;
}
@keyframes flashing {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes flashing {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}

}

/*=========================== Container Styles =======================*/
section.container, aside.container {
  position: relative;
}
.sec-header {
  background: transparent url("../images/hr.gif") no-repeat scroll 100px 22px;
  margin: 0 5px 30px;
}
.sec-header > h1 {
  color: #777;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20pt;
  margin: 0;
  text-transform: uppercase;
}
.sec-header > h1 a {
  background: #1f1d1e url("../images/bg.jpg") no-repeat scroll center center;
  font-size: 14pt;
  letter-spacing: 0;
  padding-right: 10px;
  position: relative;
  top: -2px;
}
.sec-header > h1 a:hover {
  color: #f95826;
  text-decoration: underline;
}
.sec-footer {
  background: #1f1d1e url("../images/bg.jpg") no-repeat scroll center center;
  color: #a2a2a2;
  font-family: "Share Tech Mono",monospace;
  font-size: 12pt;
  padding-left: 10px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  top: 4px;
}
.sec-footer a {
  text-decoration: underline;
  color: #a2a2a2;
}
/*=========================== Highlighted Sections =======================*/
.bg-highlighted {
  background-color: rgba(255, 255, 255, 0.024);
  border-bottom: 2px solid #000;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 -2px 0 #000;
  margin: 45px 0 -48px;
  padding: 5px 0 80px;
}
.bg-highlighted .sec-header, .bg-highlighted .sec-header > h1 a, .bg-highlighted .sec-footer,
.bg-highlighted + .container-wrap .sec-header, .bg-highlighted + .container-wrap .sec-header > h1 a,
.bg-highlighted + .container-wrap .sec-footer {
  background: none;
}
.bg-highlighted .sec-header {
  position: relative;
  top: -29px;
}
.bg-highlighted .sec-footer {
  top: -25px;
}
.bg-lighter {
  background: #282627 url(../images/bg-lighter.jpg) repeat scroll center center;
  padding: 45px 0;
}
.bg-lighter .sec-header {
  background: transparent url("../images/hr-light.gif") no-repeat scroll 100px 22px;
}
.bg-lighter  .sec-header > h1 a, .bg-lighter  .sec-footer {
  background: #282627 url("../images/bg-lighter.jpg") no-repeat scroll center center;
}
/*=========================== Home Blog Section =======================*/
.blog-item-wrap {
  margin: 0 0 30px;
}
.blog-item-wrap:nth-last-child(1), .blog-item-wrap:nth-last-child(2){
  margin: 0;
}
#blogs-sec .home-blog-list  {
  margin: 0 -10px;
}
.blog-item {
  border-radius: 4px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.blog-item > header {
  background-color: #322d36;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset;
  padding: 27px 35px 20px;
  position:relative;
}
.blog-item > header::after {
  background: transparent url("../images/golden-bar.gif") no-repeat scroll center center;
  bottom: -2px;
  content: "";
  display: block;
  height: 3px;
  left: 35px;
  position: absolute;
  width: 130px;
  z-index: 1001;
}
.blog-item > header .blog-title {
  color: #ddd;
  font-size: 17pt;
  height: 60px;
  letter-spacing: -1px;
  line-height: 1.3;
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-item > header .blog-title a {
  color: #ddd;
}
.blog-item > header .blog-date {
  color: #7c6f86;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 9pt;
  letter-spacing: 1px;
}
.blog-item-tags {
  background-color: #dedddb;
  border-bottom: 1px solid #ceccc9;
  border-top: 1px solid #fff;
  padding: 12px 35px;
}
.blog-item-tags .tag-list {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding:0;
}
.blog-item-tags .tag-list li {
  font-style: italic;
  margin: 0 2px;
  text-shadow: 0 1px 0 #eee;
}
.blog-item-tags .tag-list li a {
  color: #5d5d5d;
}
.blog-item-body {
  background-color: #eaeaea;
  border-top: 1px solid #fff;
  padding: 15px 35px 35px;
}
.blog-item-body > p {
  font-size: 11pt;
  height: 63px;
  margin: 0 0 20px;
  overflow: hidden;
}
.home-project-list {
  margin: 0 -10px;
}
/*=========================== Footer =======================*/
#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.footer-body {
  background-color: #171314;
  border-top: 1px solid #363236;
  box-shadow: 0 -1px 0 #000;
  height: 210px;
  padding: 70px 0;
}
.footer-body .footer-nav {
  margin: 0 0 12px;
}
.footer-body .footer-nav li {
  color: #888;
  font-family: 'Share Tech Mono', monospace;
  font-size: 12pt;
  letter-spacing: 0;
  margin-right: 15px;
  text-transform: uppercase;
	display: inline-block;
}
.footer-body .footer-nav li a {
  color: #888;
}
.footer-body .footer-nav li a:hover {
  color: #f95826;
}
.footer-body p {
  color: #888;
  line-height: 1.3;
}
.footer-body p a:hover {
  color: #f95826;
  text-decoration: underline;
}
.social-wrap ul {
  float: right;
  margin: 15px 0;
}
.social-wrap li a {
  background-color: #bab9b9;
  border: medium none;
  border-radius: 60%;
  box-shadow: 0 -1px 0 #fff;
  color: #111;
  display: inline-block;
  height: 40px;
  margin: 0 8px;
  padding: 8px;
  position:relative;
  text-align: center;
  text-shadow: 0 1px 0 #ddd;
  width: 40px;
  top: 0;
}
.social-wrap ul li a:hover {
  background-color: #eee;
  text-decoration: none;
}
.social-wrap li a:active {
  top: 1px;
}
.social-wrap li a svg {
  height: 100%;
  width: 100%;
}
.footer-copy {
  background-color: #eee;
  box-shadow: 0 5px 0 0 rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 16px 0;
}
.footer-copy p {
  font-family: 'Share Tech Mono', monospace;
  margin: 0 0 2px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}
.footer-copy p a:hover {
  color: #f95826;
  text-decoration: underline;
}

/*=========================== Home Course Section =======================*/
.course-emblem {
  border-radius: 4px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.course-emblem img {
  width: 100%;
}
#course-sec article {
  padding-left: 40px;
}
.course-title {
  color: #ddd;
  font-size: 28pt;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 0.9;
  margin: 20px 0 7px;
  text-shadow: 0 -1px 0 #fff;
}
.course-subtitle {
  color: #ddd;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 16pt;
  font-weight: 300;
}
.course-subtitle a {
	font-weight: 600;
  text-decoration: underline;
}
.course-tags {
  margin: 20px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
	padding-right: 20px;
}
.course-tags .tag-list {
  margin: 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.course-tags .tag-list > li {
  padding: 0;
  margin: 0 1px;
}
.course-tags .tag-list > li a {
  background-color: #24363f;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  color: #c4d9e2;
  display: inline-block;
  font-size: 9pt;
  margin: 0;
  padding: 2px 7px 3px;
  position: relative;
}
.course-tags .tag-list > li a:hover {
  background-color: #34566f;
  text-decoration: none;
}
.course-tags .tag-list > li a:active,
.course-tags .tag-list > li a:focus {
  top: 1px;
}
.course-desc {
  color: #bbb;
  font-size: 11pt;
  margin: 0 0 20px;
}

/*=========================== Home Quote Section =======================*/
#quotes-sec blockquote {
  border: medium none;
  height: auto;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  top: 15px;
  width: 600px;
}
#quotes-sec blockquote::before,
#quotes-sec blockquote::after {
  color: #ea5c24;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 210pt;
  position: absolute;
  text-shadow: -1px -2px 0 #ff9562, 0 2px 2px #000;
}
#quotes-sec blockquote:before {
  content: "\201C";
  left: -100px;
  top: -20px;
}
#quotes-sec blockquote:after {
  content: "\201D";
  right: -100px;
  top: -20px;
}
#quotes-sec blockquote > span {
  color: #aaa;
  display: block;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 20pt;
  text-align: justify;
  width: 100%;
  line-height: 1.4;
}
#quotes-sec blockquote > footer {
  text-align: right;
}
#quotes-sec blockquote > footer span {
  display: block;
}
#quotes-sec .quote-item {
  margin: -15px 0 25px;
}
#quotes-sec blockquote > footer .quoted-name,
#quotes-sec blockquote > footer .quoted-name a {
  color: #ddd;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 12pt;
  font-weight: 800;
}
#quotes-sec blockquote > footer .quoted-career {
  color: #ea5c24;
}
/*=============================== Inside Content ===============================*/
.inside-content {
  background: rgba(0, 0, 0, 0) url("../images/bg-inside.png") repeat-x scroll center top;
}
.inside-content .container {
  margin: 0 auto 70px;
}
.inside-header {
  padding: 15px 0 30px;
}
.inside-header .content-title {
  color: #ddd;
  font-size: 34pt;
  font-weight: bold;
  margin: 0 0 5px;
  text-shadow: 0 -1px 0 #fff;
}
.inside-header .content-subtitle {
  color: #ddd;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: 0;
  margin: -5px 0 0;
}
.inside-header .content-subtitle strong {
  font-weight: 600;
  letter-spacing: -1px;
}
.inside-header .breadcrumb {
  background-color: transparent;
  margin: 0;
}
.inside-header .breadcrumb > li {
  color: #bbb;
  display: inline-block;
  font-family: "Share Tech Mono",monospace;
  font-size: 9pt;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.breadcrumb > li + li::before {
  color: #777;
  content: "/ ";
  padding: 0 4px;
}
.inside-body {
  border-radius: 4px;
  margin: 0 0 -10px;
  padding: 0 0 25px;
}
.inside-body .inline-list.row {
  margin: 0 -15px;
}
.edgy {
  border-top: 1px solid #fff;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.15);
}
/*=========================== Inside Container Topic =======================*/
.inside-content  .container.topic {
  max-width: 970px;
}
.topic .inside-body {
  background-color: #eee;
  overflow: hidden;
}
.topic-cover.edgy {
  border-color: #aaa;
}
.topic-meta {
  background-color: #d6d6d6;
}
.topic-meta > div,
.topic-meta > form {
  color: #555;
  font-family: 'Share Tech Mono', monospace;
  font-size: 10pt;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  padding: 15px 35px;
  text-shadow: 0 1px 0 #eee;
  text-transform: uppercase;
}
.topic-meta .topic-date {
  text-align: right;
  float:right;
}
.topic-meta .topic-date time {
  font-weight: normal;
}
.topic-meta > form select {
  display: inline-block;
  height: 30px;
  margin: -5px 5px 0;
  min-width: 150px;
  padding: 5px;
  position: relative;
  width: auto;
}
.topic-meta > form select option {
  padding: 5px 10px;
}
.topic-meta > form select optgroup{
  text-indent: 10px;
  padding: 5px 0 0;
}
.topic-meta > form select optgroup option{
  padding: 5px 20px;
}
.topic-content > div {
  padding: 50px calc(5% + 20px);
}
.thb-wrap {
  float: left;
  margin-bottom: 20px;
  margin-right: 40px;
  width: 225px;
}
.thb-wrap .thb-title {
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.thb-title > img {
  height: auto;
  width: 100%;
}
.thb-title > span {
  background-color: #34566f;
  bottom: 0;
  color: #fff;
  display: block;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14pt;
  letter-spacing: -1px;
  line-height: 1.1;
  opacity: 0.95;
  padding: 15px 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 10;
}
.thb-icon-list {
  border-radius: 3px;
  margin: 0 0 10px;
  padding: 10px;
}
.thb-icon-list li {
  display: inline-block;
  height: 24px;
  margin: 1px 5px 0;
  padding: 0;
  width: 24px;
}
.thb-icon-list li svg {
	width: 100%;
	height: 100%;
}
.thb-link {
  font-family: "Share Tech Mono",monospace;
  margin: 0;
  text-align: center;
  text-decoration: underline;
}
.thb-link strong {
	color: #183847;
  display: block;
  margin: 15px 0 5px;
}
.topic-free-code {
  display: inline;
}
.topic-free-code .thb-icon-list {
  border-radius: 3px;
  margin: 0 -10px 10px;
  padding: 10px;
}
.topic-free-code h2, .topic-free-code h3, .topic-free-code h4 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: -2px;
  margin: 0 0 10px;
  color: #183847;
  margin: 27px 0 5px;
}
.topic-free-code *:first-child {  margin-top: 0; }

.topic-free-code h2 {  font-size: 20pt; }
.topic-free-code h3 {  font-size: 18pt; color: #e9541d; }
.topic-free-code h4 {  font-size: 16pt;  letter-spacing: 0; }

.topic-free-code address,
.topic-free-code dl, .topic-free-code dt,
.topic-free-code ul, .topic-free-code ol,
.topic-free-code li, .topic-free-code p {
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 11pt;
  line-height: 1.6;
}
.topic-free-code hr {
  border-color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 2px solid #ddd;
}
.topic-free-code img {
	max-width: 100%;
}
.topic-rating {
  margin: 3px 0;
}
.topic-rating > span {
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  height: 50px;
  letter-spacing: 0;
  margin-left: 2px;
}
.topic-rating .list-stars {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -1px;
}
.topic-rating .list-stars li {
  background: url(../images/star-off.svg) no-repeat center 0;
  background-size: cover;
  display: inline-block;
  height: 20px;
  margin: 0 1px;
  padding: 0;
  width: 20px;
  opacity: 0.5;
}
.topic-rating .list-stars li.star-on {
  background: url("../images/star-on.svg") no-repeat scroll center 0,
	      url("../images/star-off.svg") no-repeat scroll center 1px;
  background-size: cover;
  opacity: 1.0;
}



/*=========================== Inside Container's Footer =======================*/
.inside-footer {
  background: #363636 url("../images/bg-lighter.jpg") repeat scroll center center;
  border-radius: 0 0 4px 4px;
  padding: 40px 5% 30px;
}
.inside-footer .tag-list {
  margin: 0;
  text-align: center;
}
.inside-footer .tag-list > li {
  margin: 0 1px 5px;
  padding: 0;
}
.inside-footer .tag-list > li a {
  background-color: #24363f;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  color: #c4d9e2;
  display: inline-block;
  font-size: 9pt;
  margin: 0;
  padding: 2px 7px 3px;
  position: relative;
}
.inside-footer .tag-list > li a:hover {
  background-color: #34566f;
  text-decoration: none;
}
.inside-footer .tag-list > li a:active,
.inside-footer .tag-list > li a:focus {
  top: 1px;
}
/* Table styling for dark BG's */
.inside-content-dark table td, .inside-content-dark table th {
  color: #ddd;
}
.inside-content-dark table > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(250,250,250,0.15);
}

/*=========================== Inside Listing Layouts =======================*/
.inside-content .thumbnail {
  margin: 0 auto 30px;
}
.inside-content .blog-item-wrap:nth-last-child(1),
.inside-content .blog-item-wrap:nth-last-child(2) {
  margin: 0 0 30px;
}
.inside-content .textfield {
  background-color: #222;
  border: medium none;
}
/*=========================== Contact Form =======================*/
form.cmd-line {
  margin: 0 auto;
  padding: 30px 35px 60px;
  position: relative;
  width: 710px;
}
form.cmd-line .form-group {
  margin-bottom: 10px;
}
form.cmd-line p {
  color: rgb(153, 153, 153);
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0 0 10px;
}
form.cmd-line pre {
  background-color: transparent;
  border: medium none;
  color: rgb(187, 187, 187);
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
}
form.cmd-line .textfield {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  color: #ccc;
  font-size: 10pt;
  height: 15px;
  letter-spacing: 0;
  padding: 0;
}
form.cmd-line textarea.textfield {
  min-height: 110px;
	min-width: 200px;
	max-width: 100%
}
form.cmd-line .btn[type="submit"] {
  bottom: -50px;
  position: absolute;
  right: 0;
  top: auto;
}
form.cmd-line .btn[type="submit"]:active {
  bottom: -51px;
}
form.cmd-line select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
		line-height: normal;
}

/*============================ Learning page ========================*/
.learning-link {
	display: block;
	text-align: center;
	padding: 15px;
	background-color: #fff;
	margin: 15px 10px 0 10px;
	border-radius: 5px;
	font-family: 'Share Tech Mono', monospace;
	font-size: 12pt;
}

.learning-link:hover {
	text-decoration: none;
	background-color: #ff5b28;
	color: #fff;
	font-weight: 600;
}


/*=========================== Course Listing =======================*/
.course-item {
  border-radius: 5px;
  margin: 0 0 30px;
  padding: 1px;
}
.courses-light .course-item {
  background-color: #eee;
}
.courses-light .course-title {
  color: #c19f62;
  height: 52px;
  margin: 25px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 15px);
}
.courses-light .course-subtitle {
  color: #555;
  font-weight: 600;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}
.courses-light .course-desc {
  color: #666;
  max-height: 62px;
  overflow: hidden;
  width: calc(100% - 15px);
}
/*=========================== Quote Listing =======================*/
.quote-listing .quote-item {
  margin: 0 0 25px;
}
.quote-listing .quote-item header {
  background-color: rgb(233, 84, 29);
  border-radius: 3px 3px 0 0;
  color: #ddd;
  font-family: 'Share Tech Mono', monospace;
  font-size: 11pt;
  letter-spacing: 1px;
  margin: 0 0 -5px;
  padding: 8px;
  position: relative;
  text-align: center;
  z-index: 10;
}
.quote-listing .quote-item header .quoted-name {
  font-weight: bold;
	color: #fff;
}
.quote-listing .quote-item header .quoted-name a {
  color: #fff;
  text-decoration: underline;
}
.quote-listing .quote-item blockquote {
  border: medium none;
  height: auto;
  margin: 0 auto;

  background-color: rgb(238, 238, 238);
  border-radius: 0;
  padding: 40px 45px;
  position: static;
  top: 0;
  width: 100%;
}
.quote-listing .quote-item blockquote > span {
  color: #444;
  display: block;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 18pt;
  letter-spacing: -0.5px;
  line-height: 1.2;
  position: relative;
  text-align: center;
  width: 100%;
}
.quote-listing .quote-item footer {
  background: #ddd;
  margin-top: 0;
  padding: 15px;
}
.quote-listing .quote-item footer .tag-list > li a {
  font-family: 'Share Tech Mono', monospace;
  font-size: 9pt;
  letter-spacing: 1px;
}
.quote-listing .quote-item blockquote span:before,
.quote-listing .quote-item blockquote span:after {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120pt;
  position: absolute;
  color: #ccc;
}
.quote-listing .quote-item blockquote span:before {
  content: "\201C";
  left: -57px;
  top: -35px;
}
.quote-listing .quote-item blockquote span:after {
  content: "\201D";
  right: -57px;
  top: -35px;
}

/*=========================== Book Listing =======================*/
.book-listing {
  margin-bottom: 30px;
}
.book-listing li {
  padding: 20px;
}
.book-listing li > a {
  background: #ff5b28 none no-repeat scroll center 0;
  background-size: cover;
  color: transparent;
  display: block;
  font-weight: bold;
  height: 240px;
  letter-spacing: 0;
  min-width: 120px;
  padding: 40px 10px;
  text-transform: capitalize;
	background-image: url("../images/placeholders/book-placeholder.svg");
}
.book-listing li > a:hover {
  background-position: center 250px;
  color: #fff;
}

/*============================= Tags Listing ===========================*/
.tags-listing {
	text-align: center;
	margin: 0;
}
.tags-listing li {
	display: inline-block;
	margin: 5px;
	padding: 3px 12px 3px 12px;
	background-color: #fff;
	border-radius: 3px;
	font-size: 12pt;
	font-family: "Share Tech Mono", monospace;
}
.tags-listing li a {
	color: #373535;
}
.tags-listing li a:hover {
	color: #ff5b28;
}

/*=========================== Tag Result Listing =======================*/
.trl {
  margin: -33px -33px 0;
}
.trl li.trl-item {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 0 0 5px;
  padding: 20px;
}
.trl li.trl-item .trl-item-img {
  background: none no-repeat scroll center 0%;
  background-size: cover;
  border-radius: 3px;
  display: inline-block;
  float: left;
  height: 100px;
  margin-right: 20px;
  width: 100px;
}
.trl li.trl-item:hover .trl-item-img {
  background-position: center 100%;
}
.trl li.trl-item .trl-item-type {
  color: rgb(102, 102, 102);
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.trl li.trl-item .trl-item-title {
  font-size: 18pt;
  letter-spacing: -1px;
  margin: 0 0 8px;
  text-indent: -2px;
}
.trl li.trl-item .trl-item-desc {
  color: rgb(85, 85, 85);
  overflow: hidden;
  text-overflow: ellipsis;
	margin-bottom: 0;
}
.trl + nav.text-center {
  margin: 30px 0 -30px;
}

/*=========================== Social Share Buttons =======================*/
ul.social-share {
  display: inline-block;
  float: none;
  margin: -20px 0;
  position: relative;
  top: 10px;
}
.social-share > li {
  padding: 0;
}
.social-share > li .share-button {
  color: #fff;
  font-size: 8pt;
  height: 30px;
  margin: 0 2px;
  padding: 5px;
  width: 30px;
}

/*=============================================================================*/
/*=========================== All Screens Except Mobile =======================*/
/*=============================================================================*/
@media (min-width: 768px) {
/* Submenu onClick = onHover */
/*ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}*/
.dropdown-menu {
	padding: 0;
}
.dropdown-menu li a {
	padding: 10px 15px;
	font-size: 13pt;
	font-family: "Share Tech Mono",monospace;
}
.dropdown-menu li a:hover {
	color: #ff5b28;
}
#header {
  position: relative;
  z-index: 1000;
}
.nav-flatusual .navbar {
  margin: 20px 0;
}
.nav-flatusual nav.navbar {
  background-color: #eee;
  border: 0 solid #2a2a2a;
  border-radius: 0;
  border-top: 10px solid #2a2a2a;
  box-shadow: 0 5px 0 0 rgba(255, 255, 255, 0.5);
  margin: 0;
}
.nav-flatusual #branding .navbar-brand {
  height: auto;
  padding: 15px;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -5px;
}
.nav-flatusual #branding .navbar-brand img {
  height: 18px;
}
.nav-flatusual #navbar > .nav.navbar-nav,
.nav-flatusual #navbar > .navbar-form.navbar-right {
  padding: 0 5px;
}
.nav-flatusual .navbar-collapse > .nav.navbar-nav,
.nav-flatusual .navbar-collapse > .navbar-form.navbar-right {
  padding-right: 5px;
  padding-left: 5px;
}
.nav-flatusual nav.navbar .navbar-nav > li > a {
  color: #373535;
  font-family: "Share Tech Mono",monospace;
  font-size: 15pt;
  font-weight: normal;
  letter-spacing: -2px;
  padding: 15px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}
.nav-flatusual nav.navbar .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #f95826;
}
.nav-flatusual nav.navbar .navbar-nav > .active > a,
.nav-flatusual nav.navbar .navbar-nav > .active > a:focus,
.nav-flatusual nav.navbar .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #f95826;
}
.nav-flatusual nav.navbar .navbar-nav > .open > a,
.nav-flatusual nav.navbar .navbar-nav > .open > a:focus,
.nav-flatusual nav.navbar .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #f95826;
}
#main .force-hide {
  display:none !important;
}
.navbar > .container {
	position:relative;
}
#navbar::after {
	content: "";
	background:url(../images/golden-ribbon.svg) no-repeat center center;
	display: block;
	width: 17px;
	height: 32px;
	position:absolute;
	top:-10px;
	right:0;
	z-index:1001;
}

/*=============================== Blog Listing ===============================*/
.inside-content .blog-item-wrap:first-child {
  width: 100%;
}
.inside-content .blog-item-wrap:first-child .blog-item > header {
  padding: 20px 35px;
}
.inside-content .blog-item-wrap:first-child .blog-item > header .blog-title {
  font-size: 20pt;
  height: auto;
  margin: 0;
}
.inside-content .blog-item-wrap:first-child .blog-item-body > p {
  font-size: 12pt;
  height: auto;
}
}


/*=================================== Error ===================================*/
.error {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: -20px;
}

.error > h2 {
	font-size: 50pt;
	margin: 0px 0px -25px;
	text-indent: -3px;
}

.error > h3 {
	margin-bottom: 20px;
}



/*=============================================================================*/
/*=============================== Desktops [md] ===============================*/
/*=============================================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
#slider {
  height: 500px;
  margin: 0 0 50px;
}
.slide-item {
  height: 500px;
}
.slide-text {
  height: 195px;
  top: 25%;
}
.slick-dots {
  bottom: 25px;
}
.nav-flatusual nav.navbar #navbar .navbar-form {
  padding: 0;
  width: 540px;
}
.thumbnail .caption .proj-title {
  font-size: 15pt;
  letter-spacing: -1px;
  text-indent: -1px;
}
.thumbnails-hfixed .thumbnail .caption p {
  height: 76px;
  overflow: hidden;
}

.inside-content .thumbnail {
  margin: 0 auto 30px;
}
.book-listing li > a {
  height: 185px;
}
}
/*=============================================================================*/
/*=============================== Tablets [sm] ================================*/
/*=============================================================================*/
@media (min-width: 768px) and (max-width: 991px) {
.nav-flatusual nav.navbar .navbar-header {
  width: 150px;
}
.nav-flatusual #branding .navbar-brand {
  height: auto;
  padding: 16px;
}
.navbar-brand > img {
  width: 100%;
}
.navbar-inverse #navbar2-dsktp .navbar-form {
  width: 190px;
}
.nav-flatusual nav.navbar #navbar .navbar-nav {
  margin-right: 10px;
  padding: 20px 0;
}
.nav-flatusual nav.navbar .navbar-nav > li > a {
  font-size: 12pt;
  letter-spacing: 0;
  line-height: 1.1;
  padding: 0 15px;
	margin-top: 18px;
}
/*=============================== Tablet: Omar Albeik Custom Styles =================================*/
#slider {
  height: 300px;
}
.slide-item {
  height: 300px;
}
.slide-text {
  height: 195px;
  top: 20%;
  left: 6%;
 }
.slide-text h2 {
  font-size: 40pt;
  letter-spacing: -2px;
}
.slide-text p {
  font-size: 11pt;
}
.slick-dots {
  bottom: 10px;
}
.slick-next {  right: 10px; }
.slick-prev {  left: 10px; }

.person {
  top: 20px;
}
.textfield {
  font-size: 10pt;
}
.course-title {
  font-size: 26pt;
  letter-spacing: -1px;
  margin: 0 0 7px;
}
.course-subtitle {
  font-size: 14pt;
}
.course-desc {
  font-size: 9pt;
  margin: 0 0 17px;
}
#quotes-sec blockquote {
  width: 460px;
}
#quotes-sec blockquote:before {
  left: -80px;
  top: -30px;
}
#quotes-sec blockquote:after {
  right: -80px;
  top: -30px;
}
#quotes-sec blockquote > span {
  font-size: 15pt;
  line-height: 1.4;
}
#footer .row .col-sm-12:last-child {
  text-align: center;
  margin: 10px 0 0 ;
  border-top: #555 dashed 1px;
  padding-top: 25px;
}
#footer #footer-nav {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
#footer-nav > li li {
  text-align: center;
}
.footer-body .footer-nav li {
  color: #888;
  font-family: 'Share Tech Mono', monospace;
  font-size: 11pt;
  letter-spacing: 0;
  margin-right: 17px;
  text-transform: uppercase;
}
.footer-body p {
  color: #888;
  font-size: 11px;
  line-height: 1.8;
}
/*=========================== Tablet: Projects Section =======================*/
#projects-sec .sec-footer {
  text-align: center;
}
.home-project-list {
  text-align: center;
}
.home-project-list li {
  margin: 0 10px 10px;
	display: block;
}
.home-project-list li .blocklink {
  background-color: #fff;
  height: 100%;
  left: 0;
  margin: 0 5px;
  opacity: 0.0;
  position: absolute;
  top: 0;
  width: calc(100% - 10px);
}
.home-project-list li .blocklink:hover {
  background-color: #fff;
  opacity: 0.3;
}
.thumbnail {
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.thumbnail .proj-thumb {
  float: left;
  height: 150px;
  width: 25%;
  background-size: cover;
}
.thumbnail:hover .proj-thumb {
  background-size: cover;
}
.thumbnail .caption {
  float: left;
  width: 75%;
}
.thumbnail .caption footer {
  display: none;
}
.thumbnails-hfixed .thumbnail .caption h2 {
  font-size: 13.5pt;
  height: 21px;
  margin: 0 0 5px;
}
.thumbnail .caption .proj-date {
  margin: 0 0 5px;
}
.thumbnails-hfixed .thumbnail .caption p {
  height: 54px;
  line-height: 1.5;
  margin: 0;
}
/*=============================== Tablet: Inside Content ================================*/
.inside-content .thumbnail {
  margin: 0 auto 10px;
}
.courses-light .course-title {
  font-size: 24pt;
  height: 37px;
  margin: 22px 0 0;
}
.courses-light .course-tags {
  margin: 10px 0 5px;
}
.courses-light .course-desc {
  max-height: 32px;
}
.book-listing li > a {
  height: 225px;
}
.trl {
  margin: -33px -25px 0;
}

}
/*=============================================================================*/
/*=============================== Phones [xs] =================================*/
/*=============================================================================*/
@media (max-width: 767px) {
.navbar-brand {
  float: left;
  font-size: 18px;
  height: 57px;
  padding: 0;
}
.navbar-brand > img {
  height: 15px;
  margin-left: 10px;
}
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: medium none;
  border-radius: 40px;
  color: #f95826;
  float: right;
  font-size: 28px;
  height: 42px;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-top: 7px;
  padding: 0 3px;
  position: relative;
  width: 42px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f95826;
  height: 3px;
  margin: 3px auto 4px;
}
nav.navbar {
  margin: 0;
}
#main {
  min-height: auto;
  padding: 0;
}
#branding a {
  height: 57px;
  padding: 19px 5px 23px;
}
.nav-flatusual nav.navbar .navbar-nav > li > a {
  color: #373535;
  font-family: "Share Tech Mono",monospace;
  font-size: 14pt;
  font-weight: normal;
  letter-spacing: 0;
  padding: 7px 15px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}
.nav-flatusual nav.navbar .navbar-nav > li > a:hover {
  background-color: #eee;
  color: #f95826;
}
.nav-flatusual nav.navbar .navbar-nav > .active > a,
.nav-flatusual nav.navbar .navbar-nav > .active > a:focus,
.nav-flatusual nav.navbar .navbar-nav > .active > a:hover {
  background-color: #f95826;
  color: #eee;
  text-shadow: 0 1px 0 #333;
}
.nav-flatusual nav.navbar .navbar-nav > .open > a,
.nav-flatusual nav.navbar .navbar-nav > .open > a:focus,
.nav-flatusual nav.navbar .navbar-nav > .open > a:hover {
  background-color: #eee;
  color: #f95826;
}
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: medium none;
  border-radius: 40px;
  float: right;
  font-size: 24px;
  height: 40px;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-top: 7px;
  padding: 0 3px;
  position: relative;
  width: 40px;
}
.dropdown-menu li a {
	padding: 15px 15px;
	font-size: 13pt;
	font-family: "Share Tech Mono",monospace;
}
/*=============================== Phone: Slider ===============================*/
#slider {
  height: 200px;
  margin: 0 0 30px;
}
.slide-item {
  height: 200px;
}
.slide-text {
  height: auto;
  margin-right: -115px;
  padding: 0;
  position: absolute;
  right: 50%;
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.75);
  top: 50px;
  width: 230px;
}
.slide-text h2 {
  color: #ddd;
  font-size: 24pt;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 0 0 7px;
  text-shadow: 0 -1px 0 #fff, 0 3px 6px #000;
}
.slide-text .btn-wide {
  display: block;
  float: none;
  left: auto;
  margin: 0 auto;
  min-width: 130px;
  padding: 7px;
}
.slide-text p {
  display:none;
}
.slick-dots {
  bottom: -20px;
}
.slick-prev, .slick-next {
  height: 30px;
  width: 30px;
}
.slick-prev::before, .slick-next::before {
  font-size: 30px;
}
.slick-next {  right: 1px; }
.slick-prev {  left: 1px; }

.jumbotron p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}
.jumbotron p .btn {
  margin: 0 0 10px;
}
/*=========================== Phone: About Section =======================*/
.bio .cmd-line {
  font-size: 10.5pt;
  line-height: 1.4;
  padding: 25px 30px;
  letter-spacing: -1px;
}
.bio footer {
  height: auto;
}
.bio footer .social-wrap {
  position: static;
  text-align: center;
}
.bio footer .btn {
  display: block;
  margin: 20px auto 0;
  position: static;
  width: 160px;
}
.portrait-wrap {
  margin: -100px auto 35px;
  max-width: 190px;
  position: relative;
  top: 0;
}
.textfield .btn {
  display: block;
  margin: 10px 0 5px;
  position: relative;
  right: 0;
  top: 0;
}
.bio .textfield {
  height: auto;
}
.bio .textfield .btn {
  margin: 3px 0;
}
/*=========================== Phone: Containers =======================*/
.sec-header {
  margin: 0 0 20px;
}
.sec-header .fa-terminal {
  margin-left: 5px;
  margin-right: 10px;
}
.sec-footer {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 2px;
  font-size: 10pt;
  margin: 0 0 20px;
  padding: 0 5px 10px;
  position: static;
  right: 0;
  text-align: left;
  text-transform: uppercase;
}
.sec-footer .fa-caret-right {
  margin: 0px 7px;
}
.bg-highlighted {
  margin: 45px 0 -48px;
  padding: 5px 0 60px;
}
.bg-highlighted .sec-header {
  margin-bottom: 0;
}

.bg-lighter {
  margin: 25px 0 5px;
  padding: 35px 0 50px;
}
.bg-lighter .sec-header {
  margin-bottom: 0;
}
/*=========================== Phone: Blog Section =======================*/
.blog-item > header {
  padding: 25px 25px 20px;
}
.blog-item > header .blog-title {
  font-size: 13pt;
  height: auto;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0 0 10px;
}
.blog-item-tags {
  padding: 10px 25px;
}
.blog-item-tags .tag-list li {
  margin: 0 1px;
}
.blog-item-tags .tag-list li a {
  color: #333;
}
.blog-item-body {
  padding: 15px 25px 25px;
}
.blog-item-body > p {
  font-size: 10pt;
  height: auto;
  margin: 0 0 17px;
  max-height: none;
}
li.blog-item-wrap {
  display: block;
  padding: 5px 15px 15px;
}
/*=========================== Phone: Projects Section =======================*/
#projects-sec .sec-footer {
  text-align: center;
}
.home-project-list {
  text-align: center;
}
.home-project-list li {
  margin: 0 10px 10px;
	display: block;
}
.home-project-list li .blocklink {
  background-color: #fff;
  display: block;
  height: 100%;
  left: 0;
  margin: 0 5px;
  opacity: 0.0;
  position: absolute;
  top: 0;
  width: calc(100% - 10px);
}
.home-project-list li .blocklink:hover {
  background-color: #fff;
  opacity: 0.3;
}
.thumbnail {
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.thumbnail .proj-thumb {
  float: left;
  height: 150px;
  width: 25%;
  background-size: cover;
}
.thumbnail .caption {
  float: left;
  width: 75%;
}
.thumbnail .caption footer {
  display: none;
}
.thumbnails-hfixed .thumbnail .caption h2 {
  font-size: 13.5pt;
  height: 21px;
  margin: 0 0 5px;
}
.thumbnail .caption .proj-date {
  margin: 0 0 5px;
}
.thumbnails-hfixed .thumbnail .caption p {
  height: 54px;
  line-height: 1.5;
  margin: 0;
}
/*=========================== Phone: Courses Section =======================*/
#course-sec article {
  padding: 0 30px;
}
.course-title {
  color: #ddd;
  font-size: 34pt;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 0.9;
  margin: 10px 0 7px;
  text-shadow: 0 -1px 0 #fff;
}
.course-subtitle {
  font-size: 11pt;
}
.course-desc {
  font-size: 9pt;
  margin: 0 0 15px;
}
.course-tags {
  margin: 15px 0 5px;
  overflow: hidden;
  text-overflow: unset;
  white-space: unset;
  width: 100%;
}
.course-tags .tag-list {
  margin: 0 0 5px;
  overflow: hidden;
  text-overflow: unset;
  white-space: unset;
  width: 100%;
}
.course-tags .tag-list > li {
  margin: 0 1px 3px;
}
#course-sec article p .btn {
  margin: 0 0 10px;
}
#course-sec .sec-footer {
  padding: 0 17px;
}
.course-emblem {
  margin: 20px 15px;
  max-width: 240px;
  width: 100%;
}
/*=========================== Phone: Quotes Section =======================*/
#quotes-sec .sec-body {
  padding-top: 15px;
}
#quotes-sec .sec-footer {
  display: none;
}
#quotes-sec blockquote {
  height: auto;
  margin: 0 auto 20px;
  padding: 0 30px;
  position: relative;
  top: 15px;
  width: 100%;
}
#quotes-sec blockquote::before,
#quotes-sec blockquote::after {
  font-size: 70pt;
  display: none;
}
#quotes-sec blockquote::before {
  left: -5px;
  top: -25px;
}
#quotes-sec blockquote::after {
  bottom: -25px;
  right: -5px;
  top: auto;
}
#quotes-sec blockquote > span {
  color: #ddd;
  font-size: 13pt;
}
#quotes-sec blockquote > footer .quoted-name, #quotes-sec blockquote > footer .quoted-name a {
  color: #ddd;
  font-size: 10.5pt;
  font-weight: 700;
}
#quotes-sec blockquote .quoted-career {
  font-size: 10pt;
}
#quotes-sec .slick-prev, #quotes-sec .slick-next {
  top: 155px;
}
/*=========================== Phone: Footer =======================*/
#footer {
  position: static;
}
.footer-body {
  height: auto;
  padding: 60px 0 55px;
  text-align: center;
}
.footer-body .footer-nav {
  margin: 0 0 15px;
}
.footer-body .footer-nav li {
  font-size: 10pt;
  letter-spacing: 0;
  margin: 0 5px;
}
.footer-body p {
  color: #666;
  line-height: 1.4;
}
.social-wrap ul {
  float: none;
  margin: 35px 0 -5px;
}
.social-wrap li a {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}
.footer-copy p {
  font-size: 9pt;
  letter-spacing: 0;
  margin: 0 0 2px;
  line-height: 1.2;
}

/*================================== Phone: Inside Content ==============================*/
.inside-content .container {
  margin: 0 auto 10px;
}
.inside-header .content-title {
  font-size: 28pt;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0 0 13px;
}
.inside-header .content-subtitle {
  font-size: 11pt;
  letter-spacing: 0;
}
.breadcrumb > li + li::before {
  padding: 0 1px;
}
.thb-wrap {
  margin-bottom: 0;
  margin-right: 25px;
}
.topic-free-code {
  display: inline;
}
.topic-free-code address, .topic-free-code dl, .topic-free-code dt,
.topic-free-code ul, .topic-free-code ol, .topic-free-code li, .topic-free-code p {
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 10pt;
  line-height: 1.5;
}
.topic-free-code h2 {
  font-size: 18pt;
  letter-spacing: -2px;
}
.topic-free-code h3 {
  color: #e9541d;
  font-size: 16pt;
  letter-spacing: 0px;
}
.topic-free-code h3 {
  font-size: 14pt;
}
.topic-content > div {
  padding: 30px calc(5% + 20px);
}
.thb-link {
  font-size: 8pt;
  padding: 0 3px;
}
/*=============================== Phone: Inside Content ================================*/
.inside-content .thumbnails-hfixed li {
  padding: 0 15px 10px;
	display: block;
}
.inside-content .thumbnail {
  margin: 0 auto;
}
.thumbnail:hover .proj-thumb {
  background-size: cover;
}
.inside-content .thumbnail .proj-blocklink {
  display: block;
}
.inside-content li.blog-item-wrap {
  margin: 0 0 5px;
  padding: 5px 15px 15px;
}
form.cmd-line {
  margin: 0;
  padding: 20px 20px 25px;
  width: 100%;
}
form.cmd-line .form-group:last-child {
	text-align:center;
}
form.cmd-line .btn[type="submit"] {
  bottom: -10px;
  position: relative;
  right: auto;
}
.courses-light .course-item {
  border-radius: 4px;
  margin: 0 0 25px;
  padding: 0 20px 10px;
}
.courses-light .course-title {
  background-color: #1c5a73;
  border-radius: 2px;
  color: #eee;
  font-size: 20pt;
  font-weight: 700;
  height: auto;
  letter-spacing: -1px;
  margin: 20px -25px 10px;
  overflow: visible;
  padding: 11px 25px;
  text-overflow: unset;
  white-space: normal;
  width: calc(100% + 35px);
}
.courses-light .course-subtitle {
  color: #555;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}
.courses-light .course-desc {
  max-height: none;
}
.quote-listing .quote-item header {
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 11px 9px 9px;
}
.quote-listing .quote-item blockquote > span {
  font-size: 14pt;
  letter-spacing: 0px;
  line-height: 1.4;
}
.quote-listing .quote-item blockquote {
  padding: 30px 45px;
}
.book-listing li {
  padding: 20px 10px;
}
.book-listing li > a {
  height: 185px;
}
.trl {
  margin: -20px -15px -10px;
}
.trl li.trl-item {
	background: transparent;
  border-top: 1px solid #fff;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  padding:10px 20px;
}
.trl li.trl-item:first-child {
  border-top: none;
  box-shadow: none;
}
.trl li.trl-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 #fff;
}
.trl li.trl-item .trl-item-img {
  display: none;
}
.trl li.trl-item .trl-item-title {
  font-size: 12pt;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1px 0 4px;
  text-indent: -2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.social-wrap ul.social-share {
  float: none;
  margin: -20px 0 0;
}
.social-wrap ul.social-share li .social-button {
  margin: 0 2px;
}

}
/*==========================================================================================*/
/*================================== Small Phones 0px & 544px ==============================*/
/*==========================================================================================*/
@media screen and (max-width: 469px) {
.thb-wrap {
  float: none;
  margin: 0 auto 20px;
  max-width: 300px;
  width: 100%;
}
.topic-meta .topic-date {
  text-align: left;
  float:none;
}
.topic-meta .social-wrap {
  margin: -22px 0 0;
}
ul.social-share {
  top: 8px;
}
.social-share > li .social-button {
  color: #fff;
  font-size: 8pt;
  height: 24px;
  margin: 0 2px;
  padding: 3px;
  width: 25px;
}
.topic-rating {
  margin: 8px 0 2px;
}

}
/*==========================================================================================*/
/*=================================== Phablets 544px & 767px ===============================*/
/*==========================================================================================*/
@media (min-width: 468px) and (max-width: 767px) { }
/*==========================================================================================*/
/*=================================  Large Screens 1170px ==================================*/
/*==========================================================================================*/
@media (min-width: 1170px) { }

/*==========================================================================================*/
/*=============================== Very Large Screens 1600px ================================*/
/*==========================================================================================*/
@media (min-width: 1600px) { }
/*=============================================================================*/
/*============================ CUSTOM: Less than 1200px =======================*/
/*=============================================================================*/
@media (max-width: 1200px) and (min-width: 767px) { }
